

    <h1>Clase Websockets</h1>

    <form id="chatBox">
      <input type="text" id="textChat" />
      <button type="button" id="boton">Enviar</button>
    </form>

    <div id="mostrarTexto">

  

    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>

